.jumbotron {
    text-align: center;
    color: white;
    background: rgba(106, 106, 106, 0);
    background-image: url("https://i.imgur.com/1jX8wjB.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vh;
    width: 100%;
}

body {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(33,55,80,1) 79%);
    /* background: rgb(196,100,74); */
    /* background: linear-gradient(0deg, rgba(196,100,74,1) 1%, rgba(132,98,147,1) 22%, rgba(76,88,124,1) 30%, rgba(47,72,88,1) 41%, rgba(72,68,69,1) 50%, rgba(20,19,20,1) 66%); */
    height: 100vh;
    text-align: center;
    justify-content: center;
}

#go {
    color: white;
    background: rgba(255, 255, 255, 0.315);
    border: 1px solid rgba(255, 255, 255, 0.474);
    font-size: 30px;
}
#go:hover {
    color: rgb(249, 123, 92);
    background-color:
}

.card {
    background-color: rgba(255, 255, 255, 0.137);
    text-align: center;
    margin: 20px;
    height: 36vh;
    border-radius: 15;
}
.display-4 {
    background: rgba(70, 68, 68, 0.315);
    margin: 0 auto;
    display: inline;
    padding: 15px;
    border-radius: 50%;
}
footer {
    text-align: center;
    margin-bottom: 0;
}

.row {
    background-color: rgba(255, 255, 255, 0.214);
    margin: 20px;
    height: 40vh;
    border-radius: 15;
}